<h1>Edit <%= @contact.name %></h1>

<%= form_with model: @contact do |f| %>
  <div>
    <%= f.label :name %>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>

  <div>
    <%= f.fields_for :email_labels do |label_form| %>
      <%= label_form.fields_for :email do |email_form| %>
        <%= email_form.label :address %>
        <%= email_form.email_field :address %>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= f.label :phone_number %>
    <div>
      <%= f.text_field :phone_number %>
    </div>
  </div>

  <div>
    <%= f.label :birthday %>
    <div>
      <%= f.date_field :birthday %>
    </div>
  </div>

  <div>
    <%= f.label :company %>
    <div>
      <%= f.text_field :company %>
    </div>
  </div>
  <%= f.submit "Save" %>
<%- end %>