<h1>Add new contact</h1>

<%= form_with model: @contact do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.fields_for :email_labels do |label_form| %>
    <%= label_form.fields_for :email do |email_form| %>
      <%= email_form.label :address %>
      <%= email_form.email_field :address %>
    <% end %>
  <% end %>

  <%= f.label :phone_number %>
  <%= f.telephone_field :phone_number %>

  <%= f.label :birthday %>
  <%= f.date_field :birthday %>

  <%= f.label :company %>
  <%= f.text_field :company %>

  <%= f.submit "Create" %>

<% end %>